*{
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	list-style-position: inside;
	list-style-type: none;
	margin-top: 0;
	margin-right: 10;
	margin-bottom: 0;
	margin-left: 10;
	padding-left: 0px;
}

#container{
	width:1025px;
	height:400px;
	position:relative;
}

#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('images/buttons.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('images/buttons.png') no-repeat;
	top:225px;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:5px
}

#container .nextButton:hover{background-position:right bottom;right:0;}

#container ul{
	width:1025px;
	height:400px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;
}

#container li{
	position:absolute;
	display:none;
}
